In [1]:
# random selection

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
veriler = pd.read_csv('Ads_CTR_Optimisation.csv')

In [4]:
veriler.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [5]:
import random

N = 10000
d = 10 
toplam = 0
secilenler = []
for n in range(0,N):
    ad = random.randrange(d)
    secilenler.append(ad)
    odul = veriler.values[n,ad] # verilerdeki n. satÄ±r = 1 ise odul 1
    toplam = toplam + odul