In [1]:
import numpy as np
import pandas as pd

In [8]:
yorumlar = pd.read_csv('Restaurant_Reviews.csv', error_bad_lines=False)

/var/folders/sd/536xxkf96tl0x310zhjjdv680000gn/T/ipykernel_32690/2440017073.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  yorumlar = pd.read_csv('Restaurant_Reviews.csv', error_bad_lines=False)
b'Skipping line 15: expected 2 fields, saw 4\nSkipping line 20: expected 2 fields, saw 3\nSkipping line 23: expected 2 fields, saw 3\nSkipping line 29: expected 2 fields, saw 3\nSkipping line 30: expected 2 fields, saw 3\nSkipping line 32: expected 2 fields, saw 4\nSkipping line 35: expected 2 fields, saw 3\nSkipping line 36: expected 2 fields, saw 3\nSkipping line 39: expected 2 fields, saw 3\nSkipping line 45: expected 2 fields, saw 3\nSkipping line 46: expected 2 fields, saw 3\nSkipping line 49: expected 2 fields, saw 3\nSkipping line 51: expected 2 fields, saw 3\nSkipping line 55: expected 2 fields, saw 3\nSkipping line 57: expected 2 fields, saw 4\nSkipping line 60: expected 2 fields, saw 3\nSkipping line 61: expected 2 fields, saw 3\nSkipping line 67: expected 2 fields, saw 3\nSkipping line 72: expected 2 fields, saw 3\nSkipping line 75: expected 2 fields, saw 3\nSkipping line 76: expected 2 fields, saw 4\nSkipping line 92: expected 2 fields, saw 3\nSkipping line 93: expected 2 fields, saw 3\nSkipping line 94: expected 2 fields, saw 3\nSkipping line 101: expected 2 fields, saw 3\nSkipping line 102: expected 2 fields, saw 3\nSkipping line 103: expected 2 fields, saw 3\nSkipping line 104: expected 2 fields, saw 3\nSkipping line 105: expected 2 fields, saw 4\nSkipping line 108: expected 2 fields, saw 3\nSkipping line 112: expected 2 fields, saw 3\nSkipping line 113: expected 2 fields, saw 3\nSkipping line 115: expected 2 fields, saw 3\nSkipping line 121: expected 2 fields, saw 3\nSkipping line 123: expected 2 fields, saw 3\nSkipping line 125: expected 2 fields, saw 3\nSkipping line 126: expected 2 fields, saw 3\nSkipping line 127: expected 2 fields, saw 4\nSkipping line 129: expected 2 fields, saw 3\nSkipping line 131: expected 2 fields, saw 3\nSkipping line 134: expected 2 fields, saw 4\nSkipping line 136: expected 2 fields, saw 4\nSkipping line 137: expected 2 fields, saw 3\nSkipping line 140: expected 2 fields, saw 3\nSkipping line 148: expected 2 fields, saw 3\nSkipping line 149: expected 2 fields, saw 3\nSkipping line 161: expected 2 fields, saw 3\nSkipping line 164: expected 2 fields, saw 3\nSkipping line 172: expected 2 fields, saw 3\nSkipping line 173: expected 2 fields, saw 3\nSkipping line 175: expected 2 fields, saw 3\nSkipping line 177: expected 2 fields, saw 3\nSkipping line 179: expected 2 fields, saw 3\nSkipping line 180: expected 2 fields, saw 3\nSkipping line 182: expected 2 fields, saw 3\nSkipping line 186: expected 2 fields, saw 3\nSkipping line 188: expected 2 fields, saw 3\nSkipping line 191: expected 2 fields, saw 3\nSkipping line 194: expected 2 fields, saw 3\nSkipping line 195: expected 2 fields, saw 3\nSkipping line 202: expected 2 fields, saw 3\nSkipping line 211: expected 2 fields, saw 4\nSkipping line 212: expected 2 fields, saw 3\nSkipping line 213: expected 2 fields, saw 3\nSkipping line 222: expected 2 fields, saw 4\nSkipping line 224: expected 2 fields, saw 5\nSkipping line 226: expected 2 fields, saw 3\nSkipping line 233: expected 2 fields, saw 3\nSkipping line 235: expected 2 fields, saw 3\nSkipping line 237: expected 2 fields, saw 3\nSkipping line 239: expected 2 fields, saw 3\nSkipping line 241: expected 2 fields, saw 3\nSkipping line 245: expected 2 fields, saw 3\nSkipping line 248: expected 2 fields, saw 3\nSkipping line 255: expected 2 fields, saw 3\nSkipping line 263: expected 2 fields, saw 3\nSkipping line 265: expected 2 fields, saw 5\nSkipping line 267: expected 2 fields, saw 3\nSkipping line 268: expected 2 fields, saw 3\nSkipping line 269: expected 2 fields, saw 3\nSkipping line 271: expected 2 fields, saw 3\nSkipping line 275: expected 2 fields, saw 4\nSkipping line 277: expected 2 fields, saw 4\nSkipping line 285: expected 2 fields, saw 3\nSkipping line 291: expected 2 fields, saw 3\nSkipping line 294: expected 2 fields, saw 4\nSkipping line 295: expected 2 fields, saw 3\nSkipping line 297: expected 2 fields, saw 3\nSkipping line 308: expected 2 fields, saw 3\nSkipping line 309: expected 2 fields, saw 3\nSkipping line 310: expected 2 fields, saw 3\nSkipping line 316: expected 2 fields, saw 3\nSkipping line 318: expected 2 fields, saw 3\nSkipping line 319: expected 2 fields, saw 4\nSkipping line 320: expected 2 fields, saw 3\nSkipping line 323: expected 2 fields, saw 3\nSkipping line 325: expected 2 fields, saw 3\nSkipping line 329: expected 2 fields, saw 3\nSkipping line 330: expected 2 fields, saw 3\nSkipping line 333: expected 2 fields, saw 3\nSkipping line 334: expected 2 fields, saw 3\nSkipping line 340: expected 2 fields, saw 3\nSkipping line 343: expected 2 fields, saw 4\nSkipping line 348: expected 2 fields, saw 3\nSkipping line 349: expected 2 fields, saw 4\nSkipping line 351: expected 2 fields, saw 3\nSkipping line 357: expected 2 fields, saw 3\nSkipping line 358: expected 2 fields, saw 3\nSkipping line 367: expected 2 fields, saw 3\nSkipping line 370: expected 2 fields, saw 3\nSkipping line 374: expected 2 fields, saw 3\nSkipping line 375: expected 2 fields, saw 4\nSkipping line 379: expected 2 fields, saw 3\nSkipping line 381: expected 2 fields, saw 4\nSkipping line 392: expected 2 fields, saw 3\nSkipping line 394: expected 2 fields, saw 3\nSkipping line 397: expected 2 fields, saw 4\nSkipping line 403: expected 2 fields, saw 3\nSkipping line 405: expected 2 fields, saw 3\nSkipping line 413: expected 2 fields, saw 3\nSkipping line 414: expected 2 fields, saw 3\nSkipping line 421: expected 2 fields, saw 4\nSkipping line 423: expected 2 fields, saw 5\nSkipping line 424: expected 2 fields, saw 3\nSkipping line 430: expected 2 fields, saw 3\nSkipping line 441: expected 2 fields, saw 3\nSkipping line 444: expected 2 fields, saw 3\nSkipping line 447: expected 2 fields, saw 3\nSkipping line 450: expected 2 fields, saw 3\nSkipping line 458: expected 2 fields, saw 3\nSkipping line 469: expected 2 fields, saw 3\nSkipping line 470: expected 2 fields, saw 3\nSkipping line 472: expected 2 fields, saw 3\nSkipping line 476: expected 2 fields, saw 3\nSkipping line 477: expected 2 fields, saw 3\nSkipping line 483: expected 2 fields, saw 3\nSkipping line 487: expected 2 fields, saw 3\nSkipping line 490: expected 2 fields, saw 3\nSkipping line 494: expected 2 fields, saw 3\nSkipping line 499: expected 2 fields, saw 3\nSkipping line 502: expected 2 fields, saw 4\nSkipping line 503: expected 2 fields, saw 3\nSkipping line 512: expected 2 fields, saw 3\nSkipping line 513: expected 2 fields, saw 3\nSkipping line 519: expected 2 fields, saw 4\nSkipping line 520: expected 2 fields, saw 3\nSkipping line 521: expected 2 fields, saw 3\nSkipping line 522: expected 2 fields, saw 3\nSkipping line 524: expected 2 fields, saw 3\nSkipping line 527: expected 2 fields, saw 3\nSkipping line 529: expected 2 fields, saw 3\nSkipping line 534: expected 2 fields, saw 3\nSkipping line 535: expected 2 fields, saw 4\nSkipping line 539: expected 2 fields, saw 5\nSkipping line 546: expected 2 fields, saw 3\nSkipping line 552: expected 2 fields, saw 3\nSkipping line 556: expected 2 fields, saw 3\nSkipping line 557: expected 2 fields, saw 3\nSkipping line 575: expected 2 fields, saw 3\nSkipping line 577: expected 2 fields, saw 3\nSkipping line 581: expected 2 fields, saw 3\nSkipping line 584: expected 2 fields, saw 3\nSkipping line 588: expected 2 fields, saw 3\nSkipping line 590: expected 2 fields, saw 4\nSkipping line 603: expected 2 fields, saw 5\nSkipping line 605: expected 2 fields, saw 4\nSkipping line 614: expected 2 fields, saw 3\nSkipping line 615: expected 2 fields, saw 3\nSkipping line 619: expected 2 fields, saw 3\nSkipping line 625: expected 2 fields, saw 3\nSkipping line 631: expected 2 fields, saw 3\nSkipping line 634: expected 2 fields, saw 3\nSkipping line 639: expected 2 fields, saw 5\nSkipping line 640: expected 2 fields, saw 3\nSkipping line 644: expected 2 fields, saw 4\nSkipping line 655: expected 2 fields, saw 3\nSkipping line 662: expected 2 fields, saw 5\nSkipping line 663: expected 2 fields, saw 3\nSkipping line 670: expected 2 fields, saw 3\nSkipping line 682: expected 2 fields, saw 3\nSkipping line 685: expected 2 fields, saw 3\nSkipping line 688: expected 2 fields, saw 5\nSkipping line 689: expected 2 fields, saw 3\nSkipping line 691: expected 2 fields, saw 3\nSkipping line 693: expected 2 fields, saw 3\nSkipping line 696: expected 2 fields, saw 4\nSkipping line 698: expected 2 fields, saw 3\nSkipping line 700: expected 2 fields, saw 3\nSkipping line 701: expected 2 fields, saw 4\nSkipping line 702: expected 2 fields, saw 3\nSkipping line 711: expected 2 fields, saw 3\nSkipping line 712: expected 2 fields, saw 3\nSkipping line 716: expected 2 fields, saw 3\nSkipping line 720: expected 2 fields, saw 3\nSkipping line 722: expected 2 fields, saw 5\nSkipping line 724: expected 2 fields, saw 3\nSkipping line 728: expected 2 fields, saw 3\nSkipping line 731: expected 2 fields, saw 3\nSkipping line 732: expected 2 fields, saw 3\nSkipping line 735: expected 2 fields, saw 3\nSkipping line 737: expected 2 fields, saw 3\nSkipping line 738: expected 2 fields, saw 3\nSkipping line 739: expected 2 fields, saw 3\nSkipping line 745: expected 2 fields, saw 4\nSkipping line 749: expected 2 fields, saw 3\nSkipping line 750: expected 2 fields, saw 3\nSkipping line 752: expected 2 fields, saw 3\nSkipping line 753: expected 2 fields, saw 4\nSkipping line 754: expected 2 fields, saw 3\nSkipping line 756: expected 2 fields, saw 3\nSkipping line 757: expected 2 fields, saw 3\nSkipping line 762: expected 2 fields, saw 4\nSkipping line 764: expected 2 fields, saw 3\nSkipping line 770: expected 2 fields, saw 6\nSkipping line 775: expected 2 fields, saw 3\nSkipping line 781: expected 2 fields, saw 3\nSkipping line 784: expected 2 fields, saw 4\nSkipping line 786: expected 2 fields, saw 4\nSkipping line 789: expected 2 fields, saw 3\nSkipping line 790: expected 2 fields, saw 4\nSkipping line 791: expected 2 fields, saw 3\nSkipping line 796: expected 2 fields, saw 3\nSkipping line 798: expected 2 fields, saw 3\nSkipping line 807: expected 2 fields, saw 4\nSkipping line 810: expected 2 fields, saw 4\nSkipping line 811: expected 2 fields, saw 3\nSkipping line 814: expected 2 fields, saw 4\nSkipping line 831: expected 2 fields, saw 4\nSkipping line 835: expected 2 fields, saw 3\nSkipping line 842: expected 2 fields, saw 3\nSkipping line 844: expected 2 fields, saw 3\nSkipping line 849: expected 2 fields, saw 3\nSkipping line 850: expected 2 fields, saw 3\nSkipping line 851: expected 2 fields, saw 5\nSkipping line 856: expected 2 fields, saw 4\nSkipping line 858: expected 2 fields, saw 3\nSkipping line 862: expected 2 fields, saw 3\nSkipping line 864: expected 2 fields, saw 4\nSkipping line 867: expected 2 fields, saw 3\nSkipping line 869: expected 2 fields, saw 3\nSkipping line 870: expected 2 fields, saw 3\nSkipping line 872: expected 2 fields, saw 3\nSkipping line 874: expected 2 fields, saw 4\nSkipping line 880: expected 2 fields, saw 3\nSkipping line 881: expected 2 fields, saw 3\nSkipping line 883: expected 2 fields, saw 3\nSkipping line 886: expected 2 fields, saw 3\nSkipping line 889: expected 2 fields, saw 3\nSkipping line 891: expected 2 fields, saw 3\nSkipping line 899: expected 2 fields, saw 3\nSkipping line 901: expected 2 fields, saw 3\nSkipping line 905: expected 2 fields, saw 3\nSkipping line 907: expected 2 fields, saw 4\nSkipping line 913: expected 2 fields, saw 3\nSkipping line 914: expected 2 fields, saw 3\nSkipping line 915: expected 2 fields, saw 3\nSkipping line 918: expected 2 fields, saw 3\nSkipping line 921: expected 2 fields, saw 3\nSkipping line 922: expected 2 fields, saw 3\nSkipping line 924: expected 2 fields, saw 3\nSkipping line 926: expected 2 fields, saw 4\nSkipping line 927: expected 2 fields, saw 3\nSkipping line 928: expected 2 fields, saw 3\nSkipping line 932: expected 2 fields, saw 4\nSkipping line 933: expected 2 fields, saw 3\nSkipping line 938: expected 2 fields, saw 3\nSkipping line 940: expected 2 fields, saw 3\nSkipping line 941: expected 2 fields, saw 4\nSkipping line 947: expected 2 fields, saw 3\nSkipping line 948: expected 2 fields, saw 4\nSkipping line 951: expected 2 fields, saw 3\nSkipping line 954: expected 2 fields, saw 3\nSkipping line 956: expected 2 fields, saw 3\nSkipping line 958: expected 2 fields, saw 3\nSkipping line 962: expected 2 fields, saw 4\nSkipping line 974: expected 2 fields, saw 3\nSkipping line 976: expected 2 fields, saw 5\nSkipping line 978: expected 2 fields, saw 3\nSkipping line 981: expected 2 fields, saw 3\nSkipping line 982: expected 2 fields, saw 3\nSkipping line 986: expected 2 fields, saw 3\nSkipping line 989: expected 2 fields, saw 4\nSkipping line 1000: expected 2 fields, saw 3\nSkipping line 1001: expected 2 fields, saw 4\n'

In [9]:
yorumlar

                                                Review  Liked
0                             Wow... Loved this place.    1.0
1                                   Crust is not good.    0.0
2            Not tasty and the texture was just nasty.    0.0
3    Stopped by during the late May bank holiday of...    1.0
4    The selection on the menu was great and so wer...    1.0
..                                                 ...    ...
711            the presentation of the food was awful.    0.0
712           I can't tell you how disappointed I was.    0.0
713  I think food should have flavor and texture an...    0.0
714                           Appetite instantly gone.    0.0
715  Overall I was not impressed and would not go b...    0.0

[716 rows x 2 columns]

In [10]:
yorumlar.head()

                                              Review  Liked
0                           Wow... Loved this place.    1.0
1                                 Crust is not good.    0.0
2          Not tasty and the texture was just nasty.    0.0
3  Stopped by during the late May bank holiday of...    1.0
4  The selection on the menu was great and so wer...    1.0

In [15]:
with open("Restaurant_Reviews.csv","r") as file:

    reviews = []

    liked = []

    for i, line in enumerate(file):

        if i == 0:

            continue

        while not line[-1].isdigit():

            line = line[:-1]

            if line[-1].isdigit():

                    break

        reviews.append(line[:-2])

        liked.append(line[-1])

       

yorumlar = pd.DataFrame(data=zip(reviews, liked), columns=['Reviews', 'Liked'])

In [12]:
yorumlar

                                               Reviews Liked
0                             Wow... Loved this place.     1
1                                   Crust is not good.     0
2            Not tasty and the texture was just nasty.     0
3    Stopped by during the late May bank holiday of...     1
4    The selection on the menu was great and so wer...     1
..                                                 ...   ...
995  I think food should have flavor and texture an...     0
996                           Appetite instantly gone.     0
997  Overall I was not impressed and would not go b...     0
998  The whole experience was underwhelming, and I ...     0
999  Then, as if I hadn't wasted enough of my life ...     0

[1000 rows x 2 columns]

In [27]:
# şimdi regular expretions'u import ediyorum
# alfanumeric karakterlerin filtrelemesini yapıyoruz
import re

In [28]:
yorum = re.sub('[^a-zA-Z]',' ',yorumlar['Reviews'][0])

In [29]:
yorum

'Wow    Loved this place '

In [30]:
# '[^a-zA-Z]' bu alfabenin tamamı demektir ^ bu ifade değili demektir

In [38]:
yorum.lower()

AttributeError: 'list' object has no attribute 'lower'

In [39]:
yorum.split()

AttributeError: 'list' object has no attribute 'split'

In [40]:
yorum

['wow', 'loved', 'this', 'place']

In [41]:
import nltk

In [45]:
durma=nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/mehmetakifkiraz/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [46]:
durma

True

In [50]:
from nltk.stem.porter import PorterStemmer
#kelimenin gövdesini almak için kullanılır

In [51]:
ps=PorterStemmer()

In [52]:
from nltk.corpus import stopwords

In [54]:
yorum = re.sub('[^a-zA-Z]',' ',yorumlar['Reviews'][0])
yorum.lower()
yorum.split()
yorum=[ps.stem(kelime) for kelime in yorum if not kelime in set(stopwords.words("english"))]

In [55]:
yorum

['w',
 'w',
 ' ',
 ' ',
 ' ',
 ' ',
 'l',
 'v',
 'e',
 ' ',
 'h',
 ' ',
 'p',
 'l',
 'c',
 'e',
 ' ']

In [56]:
stopwords.words("english")

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]