In [1]:
# artık elimizde birden fazla bağımsız değer var

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
veriler = pd.read_csv('veriler.csv')

In [5]:
veriler.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

In [8]:
c = veriler.iloc[:,-1:].values
c

array([['e'],
       ['e'],
       ['k'],
       ['k'],
       ['e'],
       ['e'],
       ['e'],
       ['e'],
       ['k'],
       ['e'],
       ['k'],
       ['k'],
       ['k'],
       ['k'],
       ['k'],
       ['e'],
       ['e'],
       ['e'],
       ['e'],
       ['k'],
       ['k'],
       ['k']], dtype=object)

In [9]:
type(x)

numpy.ndarray

In [12]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

c[:,-1] = le.fit_transform(veriler.iloc[:,-1])

print(c)

[[0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]]

In [13]:
sonuc3 = pd.DataFrame(data = c[:,0], index = range(22), columns = ['cinsiyet'])
print(sonuc3)

   cinsiyet
0         0
1         0
2         1
3         1
4         0
5         0
6         0
7         0
8         1
9         0
10        1
11        1
12        1
13        1
14        1
15        0
16        0
17        0
18        0
19        1
20        1
21        1

In [15]:
type(sonuc3)

pandas.core.frame.DataFrame

In [20]:
ulke = veriler.iloc[:,0:1].values
print(ulke)

[['tr']
 ['tr']
 ['tr']
 ['tr']
 ['tr']
 ['tr']
 ['tr']
 ['tr']
 ['tr']
 ['us']
 ['us']
 ['us']
 ['us']
 ['us']
 ['us']
 ['fr']
 ['fr']
 ['fr']
 ['fr']
 ['fr']
 ['fr']
 ['fr']]

In [22]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

ulke[:,0] = le.fit_transform(veriler.iloc[:,0])

print(ulke)

[[1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]]

In [23]:
ohe = preprocessing.OneHotEncoder()
ulke = ohe.fit_transform(ulke).toarray()
print(ulke)

[[0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]]

In [24]:
type(ulke)

numpy.ndarray

In [25]:
sonuc = pd.DataFrame(data=ulke, index = range(22), columns = ['fr','tr','us'])
print(sonuc)

     fr   tr   us
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [26]:
type(sonuc)

pandas.core.frame.DataFrame

In [28]:
boykiloyas = veriler.iloc[:,1:4].values
print(boykiloyas)

[[130  30  10]
 [125  36  11]
 [135  34  10]
 [133  30   9]
 [129  38  12]
 [180  90  30]
 [190  80  25]
 [175  90  35]
 [177  60  22]
 [185 105  33]
 [165  55  27]
 [155  50  44]
 [160  58  39]
 [162  59  41]
 [167  62  55]
 [174  70  47]
 [193  90  23]
 [187  80  27]
 [183  88  28]
 [159  40  29]
 [164  66  32]
 [166  56  42]]

In [29]:
type(boykiloyas)

numpy.ndarray

In [30]:
sonuc2 = pd.DataFrame(data=boykiloyas, index = range(22), columns = ['boy','kilo','yas'])
print(sonuc2)

    boy  kilo  yas
0   130    30   10
1   125    36   11
2   135    34   10
3   133    30    9
4   129    38   12
5   180    90   30
6   190    80   25
7   175    90   35
8   177    60   22
9   185   105   33
10  165    55   27
11  155    50   44
12  160    58   39
13  162    59   41
14  167    62   55
15  174    70   47
16  193    90   23
17  187    80   27
18  183    88   28
19  159    40   29
20  164    66   32
21  166    56   42

In [31]:
s=pd.concat([sonuc,sonuc2], axis=1)
print(s)

     fr   tr   us  boy  kilo  yas
0   0.0  1.0  0.0  130    30   10
1   0.0  1.0  0.0  125    36   11
2   0.0  1.0  0.0  135    34   10
3   0.0  1.0  0.0  133    30    9
4   0.0  1.0  0.0  129    38   12
5   0.0  1.0  0.0  180    90   30
6   0.0  1.0  0.0  190    80   25
7   0.0  1.0  0.0  175    90   35
8   0.0  1.0  0.0  177    60   22
9   0.0  0.0  1.0  185   105   33
10  0.0  0.0  1.0  165    55   27
11  0.0  0.0  1.0  155    50   44
12  0.0  0.0  1.0  160    58   39
13  0.0  0.0  1.0  162    59   41
14  0.0  0.0  1.0  167    62   55
15  1.0  0.0  0.0  174    70   47
16  1.0  0.0  0.0  193    90   23
17  1.0  0.0  0.0  187    80   27
18  1.0  0.0  0.0  183    88   28
19  1.0  0.0  0.0  159    40   29
20  1.0  0.0  0.0  164    66   32
21  1.0  0.0  0.0  166    56   42

In [32]:
s2=pd.concat([s,sonuc3], axis=1)
print(s2)

     fr   tr   us  boy  kilo  yas cinsiyet
0   0.0  1.0  0.0  130    30   10        0
1   0.0  1.0  0.0  125    36   11        0
2   0.0  1.0  0.0  135    34   10        1
3   0.0  1.0  0.0  133    30    9        1
4   0.0  1.0  0.0  129    38   12        0
5   0.0  1.0  0.0  180    90   30        0
6   0.0  1.0  0.0  190    80   25        0
7   0.0  1.0  0.0  175    90   35        0
8   0.0  1.0  0.0  177    60   22        1
9   0.0  0.0  1.0  185   105   33        0
10  0.0  0.0  1.0  165    55   27        1
11  0.0  0.0  1.0  155    50   44        1
12  0.0  0.0  1.0  160    58   39        1
13  0.0  0.0  1.0  162    59   41        1
14  0.0  0.0  1.0  167    62   55        1
15  1.0  0.0  0.0  174    70   47        0
16  1.0  0.0  0.0  193    90   23        0
17  1.0  0.0  0.0  187    80   27        0
18  1.0  0.0  0.0  183    88   28        0
19  1.0  0.0  0.0  159    40   29        1
20  1.0  0.0  0.0  164    66   32        1
21  1.0  0.0  0.0  166    56   42        1

In [33]:
type(s2)

pandas.core.frame.DataFrame